<!DOCTYPE html>
<html>
    <head>
        <title>Under construction</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'construction/style.css' %}" />

        <script type="text/javascript" src="{% static 'construction/jquery-3.1.0.min.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'construction/moment.js' %}" defer></script>
        <script type="text/javascript" src="{% static 'construction/script.js' %}" defer></script>
    </head>

    <body>
        <h1>This site is currently under construction</h1>
        <h2>Estimated completion in:</h2>
        <div id="clock_wrapper">
            <span id="days" class="clock">00</span>
            <span class="colon">:</span>
            <span id="hours" class="clock">00</span>
            <span class="colon">:</span>
            <span id="minutes" class="clock">00</span>
            <span class="colon">:</span>
            <span id="seconds" class="clock">00</span>
        </div>
        <h3 id="excuse"></h3>
    </body>
</html>
